#prestonHead{


}

#prestonOne{
    height: 50%;
    width : 50%;
    float : left;
}

#prestonTwo{
    height: 25%;
    width : 50%;
    float : right;
}

.harvey{
    border  : 3px solid;
    overflow: auto;
}

.romanB {
    border  : 3px solid;
    overflow: auto;
}
