<div class = "harvey">
  <img id = "prestonHead" src "https://i.kinja-img.com/gawker-media/image/upload/t_original/rdrw0uiq3yhnvgscrlyg.png" alt = "mainpreston"/>
  <h2>{{message}}</h2><br>
  <button ng-click = "showImg()">Meme 1</button>
  <button ng-click = "showImgg()">Meme 2</button>
  <span ng-hide= "img">
    <img id = "prestonOne" src="https://i.kinja-img.com/gawker-media/image/upload/fc2rdxtdmdzpqo0xdtmc.png" alt="Preston" />
  </span>
  <span ng-hide= "imgg">
    <img id = "prestonTwo" src="https://67.media.tumblr.com/4149b15d069c39f82b9b2a0df82b39b2/tumblr_o0zojvPvGT1ufq0ayo1_1280.jpg" alt="Prestontwo" />
  </span>
</div>
